In [37]:
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

SyntaxError: invalid syntax (<ipython-input-37-dd6fed0c7138>, line 1)

In [ ]:
#1  How to import pandas and check the version?
import pandas as pd
print(pd.__version__)
print(pd.show_versions())

In [ ]:
#2 How to create a series from a list, numpy array and dict?
import numpy as np
import array as arr
list1 = ['a' ,'e' , 'i' , 'o' , 'u']
array1 = arr.array('i' , [1,2,3,4,5])
dictionary1 = {'Name':['Ram' , 'Sham' , 'Gyan'] , 'Age':['20' , '25' , '30']}
print(pd.Series(list1))
print(pd.Series(array1))
print(pd.Series(dictionary1))

In [42]:
#3 How to convert the index of a series into a column of a dataframe?
series1 = pd.Series(['School' , 'Class' , 'Building'])
series2 = ['101','102','103']
sam = zip(series1,series2)
ser = pd.DataFrame(sam)
print(ser)
print(type(ser))

          0    1
0    School  101
1     Class  102
2  Building  103
<class 'pandas.core.frame.DataFrame'>

In [40]:
#4 How to combine many series to form a dataframe?
series1=pd.Series(['Ram' , 'Sham' , 'Gyan'])
series2=pd.Series(['school' , 'college' , 'temple'])
series3=pd.Series(['12' ,'22' , '60'])
df = pd.DataFrame(zip(series1,series2,series3))
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
      0        1   2
0   Ram   school  12
1  Sham  college  22
2  Gyan   temple  60

In [41]:
#5 How to assign name to the series’ index?
series1 = pd.Series(['School' , 'Class' , 'Building'])
print(series1.reset_index(name='values'))
# print(series1.head())

   index    values
0      0    School
1      1     Class
2      2  Building

In [ ]:
#6 How to get the items of ser1 not present in ser2 ?
import pandas as pd 
import numpy as np
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
print([np.where(i == ser1)[0].tolist()[0] for i in ser2])

In [59]:
#7 How to get the items not common to both series A and series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2)) 
a = ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [64]:
#8 How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser.min() , ser.quantile([0.25 , 0.75])  , ser.median()  , ser.max())

1.865908416816982 0.25     5.446839
0.75    12.239049
dtype: float64 9.358449699918252 16.270358176134287

In [67]:
#9  How to get frequency counts of unique items of a series? 
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.unique())
print(ser.value_counts())

['h' 'b' 'e' 'a' 'c' 'g' 'd' 'f']
e    7
a    5
h    4
b    4
d    4
c    2
g    2
f    2
dtype: int64

In [3]:
#10 How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
import numpy as np
import pandas as pd 
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser.value_counts().index[:6])

ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
a = np.where(ser.value_counts() >= 2 )
print(ser)

Int64Index([4, 3, 2], dtype='int64')
0         4
1         4
2         3
3         4
4         4
5         4
6         3
7         3
8         4
9         4
10    Other
11        4
dtype: object

In [ ]:
# 11. How to bin a numeric series to 10 groups of equal size?

In [ ]:
#18  How to convert the first character of each element in a series to uppercase?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
for i in ser:
    print(i.title())